<% const project = require('../conf'); %>

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= project.description %></title>

</head>
<body>
<header class="<%= project.prefix %>-header">
  <div class="<%= project.prefix %>-header--top">
    <div class="container-fluid">
      <div class="flex-row align-items-center justify-content-between">
        <div class="flex-col-auto">
          <a class="<%= project.prefix %>-logo" href="<%= project.BASE_URL %>"> <img class="img-responsive"
                                                                                     src="../src/assets/images/logo.svg"
                                                                                     alt="<%= project.name %>"> </a>
        </div>
        <!--<div class="flex-col-auto ml-auto align-self-end">-->
          <!--<ul class="nav navbar-nav navbar-second-line">-->
            <!--<li>-->
              <!--<a class="main-links"-->
                 <!--href="<%= project.BASE_URL %>/explore/"-->
                 <!--target="_blank"-->
                 <!--title="Explore">Explore</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a class="main-links" href="<%= project.BASE_URL %>/play/" target="_blank" title="Play">Play</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a class="main-links" href="<%= project.BASE_URL %>/eat/" target="_blank" title="Eat">Eat</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a class="main-links" href="<%= project.BASE_URL %>/stay/" target="_blank" title="Stay">Stay</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a id="last-item-main-links"-->
                 <!--class="main-links"-->
                 <!--href="<%= project.BASE_URL %>/deals/"-->
                 <!--target="_blank"-->
                 <!--title="Deals">Deals</a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a id="south-side"&ndash;&gt;-->
            <!--&lt;!&ndash;class="main-links"&ndash;&gt;-->
            <!--&lt;!&ndash;href="<%= project.BASE_URL %>/tripbuilder/"&ndash;&gt;-->
            <!--&lt;!&ndash;target="_blank"&ndash;&gt;-->
            <!--&lt;!&ndash;title="Deals">My Seattle Southside Trip</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</div>-->
        <div class="flex-col-auto">
          <button type="button" class="navbar_toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="line top"></span>
            <span class="line mid"></span>
            <span class="line bot mb-0"></span>
          </button>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0;">
              <ul class="nav navbar-nav">

              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main" class="home-page">
  <!-- HERO -->
  <section class="page-hero checkout-hero" style="margin-bottom:20px;">
    <!-- MOBILE IMAGE -->
    <div class="checkout-hero--background visible-xs"
         style="background-image: url('https://res.cloudinary.com/bandwango/image/upload/v1529246260/Seattle%20Southside/GMS_Seattle_copy.jpg');background-position: top center;">

    </div>
    <!-- DESKTOP IMAGE -->
    <div class="checkout-hero--background hidden-xs"
         style="background-image: url('https://res.cloudinary.com/bandwango/image/upload/v1529246260/Seattle%20Southside/GMS_Seattle_copy.jpg');background-position: top center;">

    </div>
    <div class="container-fluid">
      <div class="flex-row align-items-center">
        <div class="flex-col flex-col-sm-auto offset-sm-1 hidden-xs">
          <div class="checkout-hero--iphone">
            <img class="img-responsive"
                 src="https://res.cloudinary.com/bandwango/image/upload/v1515642229/bxb2hgm8rthj2rx3b08f.png"
                 alt=" ">
          </div>
        </div>
        <div class="flex-col">
          <div class="flex-row">
            <div class="flex-col-12">
              <h1 class="checkout-hero--title">Do more, save more in Seattle's backyard.</h1>
              <!--<div class="checkout-hero&#45;&#45;action">-->
              <!--<a href="" class="btn checkout-hero&#45;&#45;btn"> Get Your Passport </a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row visible-xs">
        <div class="flex-col-12 text-center align-self-end">
          <a role="button" class="checkout-hero--arrow">
            <svg class="img-responsive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.83 24.51">
              <path fill="#FFFFFF"
                    d="M99.08,30.1A1.5,1.5,0,0,0,97.63,29a1.48,1.48,0,0,0-.39.05l-47,18.6L3.19,29a1.5,1.5,0,1,0-.78,2.9L49.74,50.62a1.44,1.44,0,0,0,.38.05h0.19a1.45,1.45,0,0,0,.38,0L98,31.94A1.5,1.5,0,0,0,99.08,30.1Z"
                    transform="translate(-1.31 -28.99)"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section checkout-venues--section">
    <div class="container-fluid">
      <div class="flex-row">
        <div class="flex-col-12 text-center">
          <h2>Make saving on the Southside easy</h2>
        </div>
        <div class="flex-col-12">
          <div class="checkout-single--venue">
            <div class="flex-row">
              <div class="flex-col-12">
                <div class="checkout-venue--image">
                  <img src="https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/c0fxj78rsekymilpj6uy"
                       alt="">
                </div>
              </div>
              <div class="flex-col">
                <div class="checkout-venue--details">
                  <div class="checkout-venue--header">
                    <div class="flex-row align-items-center">
                      <div class="flex-col-auto">
                        <span class="checkout-venues--number"><b>1</b></span>
                      </div>
                      <div class="flex-col pl-0">
                        <h3 class="checkout-venue--title">Explore your deals</h3>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-venue--content">
                    <div class="flex-row">
                      <div class="flex-col-12">
                        <p>Your Do More / Save More Passport is a curated collection of great deals discounts for the
                          best of Seattle Southside.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-col-12">
          <div class="checkout-single--venue">
            <div class="flex-row">
              <div class="flex-col-12">
                <div class="checkout-venue--image">
                  <img src="https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/xcolex0wbzkf7qhksftm"
                       alt="">
                </div>
              </div>
              <div class="flex-col">
                <div class="checkout-venue--details">
                  <div class="checkout-venue--header">
                    <div class="flex-row align-items-center">
                      <div class="flex-col-auto">
                        <span class="checkout-venues--number"><b>2</b></span>
                      </div>
                      <div class="flex-col pl-0">
                        <h3 class="checkout-venue--title">Ready right away</h3>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-venue--content">
                    <div class="flex-row">
                      <div class="flex-col-12">
                        <p>Your pass will be instantly delivered to your phone via text and email and is readt to use
                          immediately! There are no apps to download.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-col-12">
          <div class="checkout-single--venue">
            <div class="flex-row">
              <div class="flex-col-12">
                <div class="checkout-venue--image">
                  <img src="https://res.cloudinary.com/bandwango/image/upload/c_fit,h_500,w_500/c0fxj78rsekymilpj6uy"
                       alt="">
                </div>
              </div>
              <div class="flex-col">
                <div class="checkout-venue--details">
                  <div class="checkout-venue--header">
                    <div class="flex-row align-items-center">
                      <div class="flex-col-auto">
                        <span class="checkout-venues--number"><b>3</b></span>
                      </div>
                      <div class="flex-col pl-0">
                        <h3 class="checkout-venue--title">Show and save</h3>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-venue--content">
                    <div class="flex-row">
                      <div class="flex-col-12">
                        <p>When visiting a venue simply present your phone to redeem your discounts and special
                          offers.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section passport-section">
    <div class="container-fluid">
      <div class="flex-row">
        <div class="flex-col-12 text-center">
            <h2>Your Passport deals & discounts</h2>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-col-12">
          <div class="passport-single-venue bg-white">
            <div class="flex-row no-gutters">
              <div class="flex-col-8">
                <div class="passport-single--title">
                  <h4>BOGO Game of Bowling</h4>
                  <p>ACME Bowling, Biliards & Events </p>
                </div>
              </div>
              <div class="flex-col-4">
                <div class="passport-single--image" style="background-image: url('../src/assets/images/SeattleBoat.jpg')">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-col-12">
          <div class="passport-single-venue bg-white">
            <div class="flex-row no-gutters">
              <div class="flex-col-8">
                <div class="passport-single--title">
                  <h4>Free Admission with 1 Paid Admission of Equal Value</h4>
                  <p>Beneath the Streets</p>
                </div>
              </div>
              <div class="flex-col-4">
                <div class="passport-single--image" style="background-image: url('../src/assets/images/SeattleBoat.jpg')">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-col-12">
          <div class="passport-single-venue bg-white">
            <div class="flex-row no-gutters">
              <div class="flex-col-8">
                <div class="passport-single--title">
                  <h4>Free Nitro Cold Brew</h4>
                  <p>Cedabrook Lodge</p>
                </div>
              </div>
              <div class="flex-col-4">
                <div class="passport-single--image" style="background-image: url('../src/assets/images/SeattleBoat.jpg')">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>
